---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { type CollectionEntry } from 'astro:content'

const posts: Array<CollectionEntry<'posts'>> = await getCollection('posts')
const tags = [...new Set(posts.map(post => post.data.tags).flat())]

const tagsWithDuplicates = posts.map(post => post.data.tags).flat()

const tagsWithTotals = tags.map(tag => ({
  name: tag,
  total: tagsWithDuplicates.filter(x => x === tag).length,
}))

// Sort totals in desc order. If same total, sort by tag name
tagsWithTotals.sort((a, b) => b.total - a.total || sortByName(a.name, b.name))

function sortByName(a: string, b: string) {
  const nameA = a.toLowerCase()
  const nameB = b.toLowerCase()
  if (nameA < nameB) {
    return -1
  }
  if (nameA > nameB) {
    return 1
  }

  return 0
}
---

<Layout title="ags">
  <section
    class="mx-auto max-w-3xl w-full dark:text-gray-100 mt-40 px-4 xl:px-0 mb-20"
  >
    <h2 class="text-4xl mb-8 font-semibold">Cultural</h2>

<img src="/11.png" alt="" />
   <img src="/22.png" alt="" />
   <img src="/33.png" alt="" class="w-full h-auto rounded-lg" />
   <img src="/44.png" alt="" />
   <img src="/55.png" alt="" />
   <img src="/66.png" alt="" />
   <img src="/77.png" alt="" />

  </section>
</Layout>
